/* for desktop */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
    /* navbar design start here */
.nav-logo{
    text-align: left;
}
.nav-heading{
    text-align: right;
}
.navbar-manu{
    flex-direction: row;
    justify-content: flex-end;
}
.navbar-manu a{
    padding: 5px 10px;
    margin: 25px 5px;
    background-color: transparent;
}
    /* navbar design ends here */

    /* profile design end here */
.top-right-icon{
        right: 100px;
        width: 120px;       
}
.top-right-icon:hover{
    animation-name: top-icon;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes top-icon{
    to{
        width: 150px;
    }
}
.bottom-left-icon{
    bottom: 20px;
    left: 100px;
    width: 120px;
}
.bottom-left-icon:hover{
    animation-name: bottom-icon;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes bottom-icon{
    to{
        width: 150px;
    }
}
.profile-desc p{
    color: gray;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    margin-bottom: 0px;
}
    /* profile design ends here */

    /* about me start here */
.about-me-img img{
    width: 270px;
    height: 310px;
    border: 5px solid white;
    border-radius: 50%;
    margin-top: 100px;
    }
    .about-me-desc p{
        text-align: left;
    }
     /* about me ends here */

      /* experience, education, skill part start from here  */
                /****** nothing in here *****/
      /* experience, education, skill part ends here  */

       /* achievement, contact start from here */
    
    .contact-link{
        position: relative;
    }
    .media-button .btn{
        font-size: 1.8rem;
        border: none;
        border-radius: 50%;
        padding: 15px;
        width: 60px;
    }
    .media-button{
        position: absolute;
        left: 60%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin-top: 200px;
    }

        /* achievement, contact ends here */
            
    /* footer-start-from-here */

.footer-manu a{
    display: inline;
    padding: 10px;
}
    
    /* footer-ends-here */